<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href='/static/style.css' />
            <script src="/static/script.js"></script>
    </head>
    
    <body>
        <div class="title">
            <h1>test</h1>
        </div>
        <div class="topnav" id="myTopnav">
                <a href="/" class="home">Home</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                <div class="search-container">
                        <form action="/action_page.php">
                          <input type="text" placeholder="Search.." name="search">
                          <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                      </div>
                <a href="javascript:void(0);" class="icon" onclick="Menujs()">
                  <i class="fa fa-bars"></i>
                </a>
        </div>
    </body>
</html>